myapp.data.equips.head =
<%= mh4equip_head  %>
;
myapp.data.equips.body =
<%= mh4equip_body %>
;
myapp.data.equips.arm =
<%= mh4equip_arm %>
;
myapp.data.equips.leg =
<%= mh4equip_leg %>
;
myapp.data.equips.waist =
<%= mh4equip_wst %>
;
myapp.data.decos =
<%= mh4deco %>
;
myapp.data.skills =
<%= mh4skill %>
;
